# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
* Exploring popular languages used by Data Scientists
* Exploring popular libraries used by Data Scientists
* Some Data Science tools
* Evaluating arithmetic expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. NumPy
3. Pandas

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Sidharth Praveen Warrier